body {
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
}

.frame1 {
    margin-top: 32px;
    text-align: center;
    background-color: white;
}

.secondsection {
    background-color: white;
}

.navbar {
    background: url("../../resources/images/the-flatiron-building.png") center center no-repeat;
}

.link {
    display: block;
    color: white;
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

.design {
    background: url("https://danired84.github.io/broadway/resources/images/the-flatiron-building.png") center center no-repeat;
    font-size: 23px;
}

h1, .design {
    color: white;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
  }

  p{
    font-weight: normal;
  }

  .footer {
    text-align: left;
    background-color: dimgray;
    font-size: 11px;
    color: white;
    font-weight: normal;
  }

  .footer .link {
    display: inline;
    font-weight: normal;
  }
